// Custom variables

$customGrey: #F2F2F2;
$customDarkBlue: #34495E;
$customLightBlue: #2197bd;

.col-centered {
  float: none !important;
  margin: 0 auto !important;
}



// Bootstrap overrides

$font-family-sans-serif: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$navbar-height: 62px;
$navbar-default-bg: $customGrey;
$navbar-default-border: $customGrey;

$text-color: $customDarkBlue;

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

$brand-primary: $customLightBlue;
$brand-success: #00C853;
$brand-info: #00B8D4;
$brand-warning: #FFAB00;
$brand-danger: #D50000;

$btn-primary-border: darken($brand-primary, 1%);
$btn-success-border:  darken($brand-success, 1%);
$btn-info-border: darken($brand-info, 1%);
$btn-warning-border: darken($brand-warning, 1%);
$btn-danger-border: darken($brand-danger, 1%);