<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ui-sref-active="active" title="Accueil"><a ui-sref="admin.home"><i class="fa fa-home fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Entreprises"><a ui-sref="admin.companies"><i class="fa fa-building-o fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Recruteurs"><a ui-sref="admin.recruiters"><i class="fa fa-users fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Candidats"><a ui-sref="admin.candidates"><i class="fa fa-graduation-cap fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Documents"><a ui-sref="admin.documents"><i class="fa fa-file-o fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Messagerie"><a ui-sref="admin.messages"><i class="fa fa-envelope-o fa-fw fa-2x"></i></a></li>
    <li role="presentation" ui-sref-active="active" title="Live"><a ui-sref="admin.live"><i class="fa fa-television fa-fw fa-2x"></i></a></li>
</ul>