<ul>
    <li role="presentation" ui-sref-active="active" title="Accueil"><a ui-sref="app.admin.home"><i class="fa fa-home fa-fw"></i> Accueil</a></li>
    <li role="presentation" ui-sref-active="active" title="Entreprises"><a ui-sref="app.admin.companies"><i class="fa fa-building-o fa-fw"></i> Entreprises</a></li>
    <li role="presentation" ui-sref-active="active" title="Recruteurs"><a ui-sref="app.admin.recruiters"><i class="fa fa-users fa-fw"></i> Recruteurs</a></li>
    <li role="presentation" ui-sref-active="active" title="Candidats"><a ui-sref="app.admin.candidates"><i class="fa fa-graduation-cap fa-fw"></i> Étudiants</a></li>
    <li role="presentation" ui-sref-active="active" title="Documents"><a ui-sref="app.admin.documents"><i class="fa fa-file-o fa-fw"></i> Documents</a></li>
    <li role="presentation" ui-sref-active="active" title="Messagerie"><a ui-sref="app.admin.messaging"><i class="fa fa-envelope-o fa-fw"></i> Messagerie</a></li>
    <li role="presentation" ui-sref-active="active" title="En direct"><a ui-sref="app.admin.live"><i class="fa fa-television fa-fw"></i> En direct</a></li>
</ul>