<h2><strong>{{ user.firstname }} {{ user.lastname }}</strong></h2>


<div class="row">
    <div class="col-md-7">
        <h3>Entretiens</h3>
        <hr/>
        <table id="admin-display-interviews" class="table">
            <thead>
            <tr>
                <th style="width: 20%;">Créneau</th>
                <th style="width: 40%;">Recruteur</th>
                <th style="width: 20%;">Compagnie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="slot in candidateSlots"
                class="interview interview-status-{{slot.interviews.length > 0 ? 'taken' : 'free'}}">
                <td>
                    {{ formatDate(slot.begins_at) | date:'HH:mm' }} <i class="fa fa-arrow-right fa-fw"></i> {{
                    formatDate(slot.ends_at) | date:'HH:mm' }}
                </td>
                <td>
                            <span ng-if="slot.interviews.length > 0">
                                <a ui-sref="app.admin.recruiters.details({id: slot.interviews[0].recruiter.ido})">{{
                                    slot.interviews[0].recruiter.user.firstname }} {{
                                    slot.interviews[0].recruiter.user.lastname }}</a>

                            </span>

                    <p ng-if="interview.status === 'free'" class="text-center"></p>
                </td>
                <td>
                    <a ui-sref="app.admin.companies.details({id: slot.interviews[0].recruiter.company.ido})">{{slot.interviews[0].recruiter.company.name}}</a>
                </td>
                <td class="actions">
                    <button type="button" class="btn btn-sm btn-danger" ng-if="slot.interviews.length > 0 "
                            ng-click="freeInterview(slot.interviews[0])"><i class="fa fa-times fa-fw"></i> Désinscrire
                        l'étudiant
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="row" style="margin-top: 42px;">
                <h3>Modifier</h3>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="firstname">Prénom</label>
                                    <input type="text" class="form-control" id="firstname"
                                           ng-model="candidate.user.firstname" ng-model-options="{debounce: 550}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="lastname">Nom</label>
                                    <input type="text" class="form-control" id="lastname"
                                           ng-model="candidate.user.lastname" ng-model-options="{debounce: 550}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="grade">Promotion</label>
                                    <select id="grade" class="form-control"
                                            ng-model="candidate.grade">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Adresse email</label>
                                    <input type="text" class="form-control"
                                           ng-model="candidate.user.email" ng-model-options="{debounce: 550}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Téléphone</label>
                                    <input type="text" class="form-control"
                                           ng-model="candidate.user.phone" ng-model-options="{debounce: 550}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-center" style="margin-top: 21px;">
                        <button type="button" class="btn btn-success" ng-click="updateCandidate()">Enregistrer</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <h3>CV</h3>
                <hr/>
                <form name="documentsPartForm" class="form-block" novalidate>
                    <div class="panel panel-default" ng-show="documents.length">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr ng-repeat="document in documents">
                                <td style="vertical-align: middle;">{{ document.name | limitTo: 30
                                    }}{{document.name.length > 30 ? '...' : ''}}
                                </td>
                                <td style="vertical-align: middle;" ng-switch="document.status">
                                    <span ng-switch-when="ACCEPTED" class="label label-default">ACCEPTÉ</span>
                                    <span ng-switch-when="PENDING" class="label label-warning">EN ATTENTE</span>
                                    <span ng-switch-when="REJECTED" class="label label-danger">REFUSÉ</span>
                                </td>
                                <td class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="downloadDocument(document)">
                                        <i class="fa fa-download fa-fw"></i></button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteDocument(document)">
                                        <span class="fa fa-trash fa-fw"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ngf-drop ng-model="form.documents" class="dropbox"
                         ngf-select="true" ngf-multiple="false" ngf-allow-dir="false" ng-show="!documents.length">
                        <div class="help">
                            <span ng-if="!form.documentIsBeingSent">Glissez-déposez les documents ou<br> cliquez ici pour les sélectionner.</span>
                            <span ng-if="form.documentIsBeingSent">Envoi en cours...</span>
                        </div>
                    </div>
                    <div ngf-no-file-drop>Cette fonctionnalité n'est pas disponible sur votre navigateur</div>
                </form>
        </div>
    </div>
</div>