<h2>Candidats</h2>

<div class="row"
     st-table="candidatesDisplayedCollection" st-safe-src="candidatesCollection">

    <div class="searchBox">
        <input class="form-control" type="search" placeholder="Rechercher..." st-search>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 5%">Entretiens</th>
                <th style="width: 5%">Promo</th>
                <th style="width: 90%">Identité</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="candidate in candidatesDisplayedCollection | orderBy:['grade','user.lastname']">
                <td class="text-center">
                    <span ng-class="{'label label-danger': candidate.interviews.length == 0,'label label-warning': candidate.interviews.length < 3,'label label-success': candidate.interviews.length >= 3}">
                        {{candidate.interviews.length}}
                    </span>
                </td>
                <td>
                    {{candidate.grade}}
                </td>
                <td><a ui-sref="app.admin.candidates.details({id: candidate.ido})">{{candidate.user.firstname}} {{ candidate.user.lastname }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>