<div class="col-md-5 pull-left">
    <p style="margin: 10px 0 0 0;" ng-if="stats">
        <strong>Entretiens :</strong> {{ stats.available }} disponible(s) sur {{ stats.total }}. <small>({{ stats.taken }} réservé(s))</small>
    </p>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3 pull-right text-right">
            <div class="checkbox">
                <label for="hideCompanyNames">
                    <input type="checkbox" name="hideCompanyNames" id="hideCompanyNames" ng-model="hideCompanyNames" checked="checked">
                    Cacher les entreprises
                </label>
            </div>
        </div>
    </div>
</div>


<div class="admin-display-interviews">
    <table class="table">
        <thead>
        <tr>
            <th style="width: 15%;"></th>
            <th ng-repeat="slot in slots">{{ slot.begins_at_formatted }}</th>
        </tr>
        </thead>
        <tbody ng-repeat-start="company in interviewsByCompanies">
        <tr ng-show="!hideCompanyNames">
            <th colspan="{{ 1 + slots.length}}" class="company-name">{{ company.company.name }}</th>
        </tr>
        <tr ng-repeat="recruiter in company.recruiters">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="app.admin.recruiters.details({id: recruiter.ido})">{{ recruiter.firstname | limitTo:1 }}. {{ recruiter.lastname }}</a></td>
            <td ng-repeat="interview in recruiter.interviews" class="interview interview-status-{{interview.status}}">
                <span ng-if="interview.status === 'taken'"
                      ng-mouseenter="setSelectedInterview(interview)"
                      popover-template="'popover.html'" popover-title="Entretien" popover-trigger="mouseenter">
                    <i class="fa fa-check-circle"></i>
                </span>
            </td>
        </tr>
        </tbody>
        <tfoot ng-repeat-end></tfoot>
    </table>
</div>

<script type="text/ng-template" id="popover.html">
    <p style="margin-bottom: 0;">
        <i class="fa fa-graduation-cap fa-fw"></i> {{ selectedInterview.candidate.firstname }} {{ selectedInterview.candidate.lastname }} ({{ selectedInterview.candidate.grade }})<br />
        <i class="fa fa-location-arrow fa-fw"></i> <strong ng-if="!selectedInterview.location">Indéterminé</strong> <code ng-if="selectedInterview.location">&nbsp;{{ selectedInterview.location.name }}&nbsp;</code>
    </p>
</script>