<h2>Entretiens</h2>

<div class="row" ng-if="interviewsWithoutLocation.length > 0" style="margin-bottom: 21px">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <p class="lead text-danger text-center" style="margin-bottom: 10px;">
                <strong>Certains entretiens n'ont pas d'emplacement</strong>
            </p>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Horaire</th>
                            <th>Entretien</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="interview in interviewsWithoutLocation">
                            <td style="vertical-align: middle;">{{ interview.slot.begins_at }}</td>
                            <td style="vertical-align: middle;">{{ interview.candidate.firstname | limitTo:1 }}. {{ interview.candidate.lastname }} avec {{ interview.recruiter.firstname | limitTo:1 }}. {{ interview.recruiter.lastname }} ({{ interview.recruiter.company }})</td>
                            <td><a class="btn btn-primary btn-sm" ui-sref="app.admin.recruiters.details({id: interview.recruiter.ido})">Attribuer</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 21px;">
    <div class="col-md-3 col-md-offset-9">
        <select class="form-control"
                ng-model="selectedSlot"
                ng-options="slot.begins_at_formatted + ' – ' + slot.ends_at_formatted for slot in slots track by slot.ido"
                ng-change="displayLocationsWithInterviewsForSelectedSlot()">
            <option value="">Choisir un horaire...</option>
        </select>
    </div>
</div>

<div id="adminInterviews" class="row">
    <div class="col-md-3" ng-repeat="interview in locationWithInterviews.interviews" ng-if="interview.current">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left"><code>{{ interview.location.name }}</code></h3>
                <p class="pull-right">
                    <span class="statusToToggle label label-success" ng-if="interview.current.status === 'IN_PROGRESS'" ng-click="toggleStatusInterview(interview.current)">EN COURS</span>
                    <span class="statusToToggle label label-danger" ng-if="interview.current.status === 'COMPLETED'" ng-click="toggleStatusInterview(interview.current)">TERMINÉ</span>
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p style="margin: 0;" ng-if="interview.current">
                    <i class="fa fa-building-o fa-fw"></i> <strong>{{ interview.current.recruiter.company.name }}</strong><br />
                    <i class="fa fa-user fa-fw"></i> <a ui-sref="app.admin.recruiters.details({id: interview.current.recruiter.ido})">{{ interview.current.recruiter.firstname }} {{ interview.current.recruiter.lastname }}</a><br />

                    <i class="fa fa-graduation-cap fa-fw"></i>
                    <span ng-if="interview.current.candidate"><a ui-sref="app.admin.candidates.details({id: interview.current.candidate.ido})">{{ interview.current.candidate.firstname }} {{ interview.current.candidate.lastname }} ({{ interview.current.candidate.grade }})</a></span>
                    <span ng-if="!interview.current.candidate" class="text-danger"><strong>LIBRE</strong></span>
                </p>
            </div>
            <div class="panel-footer">
                <strong>Suivant(e) :</strong>
                <span ng-if="interview.next.candidate"><a ui-sref="app.admin.candidates.details({id: interview.next.candidate.ido})">{{ interview.next.candidate.firstname }} {{ interview.next.candidate.lastname }} ({{ interview.next.candidate.grade }})</a></span>
                <span ng-if="!interview.next.candidate" class="text-danger"><strong>LIBRE</strong></span>
            </div>
        </div>
    </div>
</div>