<h2>Entretiens</h2>

<div class="row" ng-if="interviewsWithoutLocation.length > 0" style="margin-bottom: 21px">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <p class="lead text-danger text-center" style="margin-bottom: 10px;">
                <strong>Certains entretiens n'ont pas d'emplacement</strong>
            </p>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                        <tr>
                            <th>Horaire</th>
                            <th>Entretien</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="interview in interviewsWithoutLocation">
                            <td style="vertical-align: middle;">{{ interview.slot.begins_at }}</td>
                            <td style="vertical-align: middle;">{{ interview.candidate.firstname | limitTo:1 }}. {{ interview.candidate.lastname }} avec {{ interview.recruiter.firstname | limitTo:1 }}. {{ interview.recruiter.lastname }} ({{ interview.recruiter.company }})</td>
                            <td><a class="btn btn-primary btn-sm" ui-sref="app.admin.recruiters.details({id: interview.recruiter.ido})">Attribuer</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 21px;">
    <div class="col-md-3 col-md-offset-9">
        <select class="form-control"
                ng-model="selectedSlot"
                ng-options="slot.begins_at_formatted + ' – ' + slot.ends_at_formatted for slot in slots track by slot.ido"
                ng-change="displayLocationsWithInterviewsForSelectedSlot()">
            <option value="">Choisir un horaire...</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="lead text-center" ng-if="!haveInterviews">
            Aucun entretien pour le moment...
        </p>

        <table class="table table-bordered table-striped" ng-if="haveInterviews">
            <thead>
            <tr>
                <th style="width: 20%;">Emplacement</th>
                <th style="width: 40%;">{{ locationWithInterviews.currentSlot.begins_at }} – {{ locationWithInterviews.currentSlot.ends_at }}</th>
                <th style="width: 40%;">{{ locationWithInterviews.nextSlot.begins_at }} – {{ locationWithInterviews.nextSlot.ends_at }}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="interview-per-zone" ng-repeat="interview in locationWithInterviews.interviews">
                <td class="text-center" style="vertical-align: middle; font-size: 24px; padding-top: 3px;">
                    <a ui-sref="app.admin.locations"><span class="label label-primary">Zone {{ interview.location.name }}</span></a>
                </td>
                <td>
                    <p style="margin-right: 6px;" class="pull-right">
                        <span class="statusToToggle label label-success" ng-if="interview.current.status === 'IN_PROGRESS'" ng-click="toggleStatusInterview(interview.current)">EN COURS</span>
                        <span class="statusToToggle label label-danger" ng-if="interview.current.status === 'COMPLETED'" ng-click="toggleStatusInterview(interview.current)">TERMINÉ</span>
                    </p>
                    <p style="margin: 5px 0; vertical-align: middle;" ng-if="interview.current">
                        <i class="fa fa-building-o fa-fw"></i> <strong>{{ interview.current.recruiter.company.name }}</strong><br />
                        <i class="fa fa-user fa-fw"></i> <a ui-sref="app.admin.recruiters.details({id: interview.current.recruiter.ido})">{{ interview.current.recruiter.firstname }} {{ interview.current.recruiter.lastname }}</a><br />
                        <i class="fa fa-graduation-cap fa-fw"></i> <a ui-sref="app.admin.candidates.details({id: interview.current.candidate.ido})">{{ interview.current.candidate.firstname }} {{ interview.current.candidate.lastname }} ({{ interview.current.candidate.grade }})</a>
                    </p>
                </td>
                <td>
                    <p style="margin: 5px 0;"  ng-if="interview.next">
                        <i class="fa fa-building-o fa-fw"></i> <strong>{{ interview.next.recruiter.company.name }}</strong><br />
                        <i class="fa fa-user fa-fw"></i> <a ui-sref="app.admin.recruiters.details({id: interview.current.recruiter.ido})">{{ interview.next.recruiter.firstname }} {{ interview.next.recruiter.lastname }}</a><br />
                        <i class="fa fa-graduation-cap fa-fw"></i> <a ui-sref="app.admin.candidates.details({id: interview.current.candidate.ido})">{{ interview.next.candidate.firstname }} {{ interview.next.candidate.lastname }} ({{ interview.next.candidate.grade }})</a>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>