<div id="live" ng-class="{'animated-background': true}">
    <div id="logo_and_clock_wrapper">
        <div class="logo logo-left">
            <img src="/images/live-syj-logo.png" />
        </div>
        <div id="clock">
            {{ now | date:'HH : mm'}}
        </div>
        <div class="logo logo-right">
            <img src="/images/live-rizomm-logo.png" />
        </div>
    </div>
    <div id="interviews_wrapper" ng-if="apiInterviews.interviews.length">
        <carousel interval="1000000000000">
            <slide ng-repeat="interviews in apiInterviews.interviewsPaginated">
                <!--<h4>{{ $index + 1}} sur {{ apiInterviews.interviewsPaginated.length }}</h4>-->
                <div class="interview_wrapper"
                     ng-repeat="interview in interviews"
                     ng-if="interview.current">
                    <div class="interview" ng-class="{'panel-success': interview.current.status === 'COMPLETED' || !interview.current.candidate, 'panel-danger': interview.current.status === 'IN_PROGRESS' && interview.current.candidate}">
                        <div class="panel-heading">
                            <h3 class="panel-title pull-left">{{ interview.current.recruiter.company.name }}</h3>
                            <p class="pull-right">
                                <code>&nbsp;{{ interview.location.name }}&nbsp;</code>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <span ng-if="interview.current.status === 'IN_PROGRESS' && interview.current.candidate">
                                <strong>{{ interview.current.candidate.firstname }} {{ interview.current.candidate.lastname }}</strong>
                            </span>
                            <span class="text-success" ng-if="interview.current.status === 'COMPLETED' || !interview.current.candidate">
                                <i class="fa fa-exclamation-triangle fa-fw"></i> <strong>LIBRE</strong>
                            </span>
                        </div>
                        <div class="panel-footer">
                            <strong>Suivant(e) </strong> à {{ apiInterviews.nextSlot.begins_at }} :
                            <span ng-if="interview.next.candidate">
                                {{ interview.next.candidate.firstname }} {{ interview.next.candidate.lastname }}
                            </span>
                            <span ng-if="!interview.next.candidate"><strong>LIBRE</strong></span>
                        </div>
                    </div>
                </div>
            </slide>
        </carousel>

        <div id="pagination_wrapper" ng-if="apiInterviews.interviews.length">
            <div id="pagination">
                &copy; SeekYourJob 2016 - Réalisation web Valentin Polo & Nicolas Ducom.
            </div>
        </div>

    </div>
</div>