<h2><a ui-sref="app.admin.messaging">Messagerie</a> - Nouvel email</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Type d'envoi</label>
        <div class="col-sm-9">
            <div class="radio">
                <label>
                    <input type="radio" value="toUsers"
                           ng-model="sendingType" ng-required="!sendingType"> Envoyer à un (ou des) utilisateur(s) particulier(s)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" value="toGroups"
                           ng-model="sendingType" ng-required="!sendingType"> Envoyer à un (ou des) groupe(s)
                </label>
            </div>
        </div>
    </div>

    <br><br>

    <div class="form-group" ng-if="sendingType === 'toUsers'">
        <label class="col-sm-3 control-label">Destinataires(s)</label>
        <div class="col-sm-7">
            <ui-select multiple ng-model="selected.users">
                <ui-select-match placeholder="Choisir le(s) utilisateur(s)...">{{ $item.identity }} ({{ $item.email }})</ui-select-match>
                <ui-select-choices repeat="user.user_ido as user in users | filter: $select.search">
                    <div ng-bind-html="user.identity | highlight: $select.search"></div>
                    <small>
                        {{ user.profile }}
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group" ng-if="sendingType === 'toGroups'">
        <label class="col-sm-3 control-label">Destinataires(s)</label>
        <div class="col-sm-7">
            <ui-select multiple ng-model="selected.groups">
                <ui-select-match placeholder="Choisir le(s) groupe(s)...">{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="group.users as group in groups | filter: $select.search">
                    <div ng-bind-html="group.name | highlight: $select.search"></div>
                    <small>
                        {{ group.users.length }} personne(s)
                    </small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Objet</label>
        <div class="col-sm-7">
            <input type="text" class="form-control"
                   ng-model="message.object" ng-required="true">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Message</label>
        <div class="col-sm-7">
            <p style="margin-top: 6px; margin-bottom: 20px;">Bonjour,</p>
            <textarea class="form-control" style="height: 210px;"
                      ng-model="message.content" ng-required="true">
            </textarea><br>
            <p>
                Bien cordialement,<br>
                L'équipe SeekYourJob de la FGES.
            </p>
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="col-sm-16 col-sm-offset-3">
            <button class="btn btn-lg btn-success"
                    ng-click="sendEmail();" ng-disabled="!canBeSent()">
                <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp; Envoyer
            </button>
        </div>
    </div>
</div>