<h2>Messagerie</h2>

<div id="messagingHome" class="row">

    <div class="col-md-12">
        <p id="sendingButtons">
            <a ui-sref="admin.messaging.newEmail" class="btn btn-lg btn-success">Envoyer un email</a>
            <a ui-sref="admin.messaging.newSMS" class="btn btn-lg btn-success">Envoyer un SMS</a>
        </p>
    </div>

    <div class="col-md-6">
        <h3>Derniers emails envoyés</h3>
        <hr>
        <p class="lead">
            Aucun message trouvé.
        </p>
    </div>

    <div class="col-md-6">
        <h3>Derniers SMS envoyés</h3>
        <hr>
        <p class="lead">
            Aucun message trouvé.
        </p>
    </div>

</div>