<h2>Messagerie</h2>

<div id="messagingHome" class="row">

    <div class="col-md-6">
        <p class="sendingButtonWrapper">
            <a ui-sref="admin.messaging.newEmail" class="btn btn-lg btn-success"><i class="fa fa-envelope-o fa-fw"></i> Envoyer un email</a>
        </p>
        <h3>Derniers emails envoyés</h3>
        <hr>
        <p class="lead">
            Aucun message trouvé.
        </p>
    </div>

    <div class="col-md-6">
        <p class="sendingButtonWrapper">
            <a ui-sref="admin.messaging.newSMS" class="btn btn-lg btn-success"><i class="fa fa-mobile fa-fw"></i> Envoyer un SMS</a>
        </p>
        <h3>Derniers SMS envoyés</h3>
        <hr>
        <p class="lead">
            Aucun message trouvé.
        </p>
    </div>

</div>