<h2><strong>{{ recruiter.user.firstname }} {{ recruiter.user.lastname }}</strong></h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Entreprise :<br><strong>{{ recruiter.company.name }}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Téléphone :<br>
                    <strong>{{ recruiter.user.phone_formatted }}</strong>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Options :
                    <span class="label" ng-class="{'label-default': !recruiter.parking_option, 'label-success': recruiter.parking_option}">PARKING</span>&nbsp;
                    <span class="label" ng-class="{'label-default': !recruiter.lunch_option, 'label-success': recruiter.lunch_option}">REPAS</span><br>
                    Notifications :
                    <span class="label" ng-class="{'label-default': !recruiter.user.email_notifications, 'label-success': recruiter.user.email_notifications}">EMAIL</span>&nbsp;
                    <span class="label" ng-class="{'label-default': !recruiter.user.sms_notifications, 'label-success': recruiter.user.sms_notifications}">SMS</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 5px;">
    <div class="col-md-12">
        <h3>Entretiens</h3>
        <hr>
        <table id="admin-display-interviews-for-recruiter" class="table">
            <thead>
                <tr>
                    <th style="width: 20%;">Créneau</th>
                    <th style="width: 50%;">Candidat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="interview in recruiterInterviews.interviews" class="interview interview-status-{{interview.status}}">
                    <td>
                        {{ interview.slot.begins_at }} <i class="fa fa-arrow-right fa-fw"></i> {{ interview.slot.ends_at }}
                    </td>
                    <td>
                        <span ng-if="interview.status === 'taken'">{{ interview.candidate.firstname }} {{ interview.candidate.lastname }} ({{ interview.candidate.grade }})</span>
                        <p ng-if="interview.status === 'free'"><button type="button" class="btn btn-sm btn-primary" ng-click="bookInterview(interview)"><i class="fa fa-sign-in fa-fw"></i> Inscrire un étudiant</button></p>
                    </td>
                    <td class="actions">
                        <button type="button" class="btn btn-sm btn-danger" ng-if="interview.status === 'taken'" ng-click="freeInterview(interview)"><i class="fa fa-times fa-fw"></i> Désinscrire l'étudiant</button>
                        <button type="button" class="btn btn-sm btn-danger" ng-if="interview.status === 'free'" ng-click="deleteInterview(interview)"><i class="fa fa-times fa-fw"></i> Marquer comme indisponible</button>
                        <button type="button" class="btn btn-sm btn-success" ng-if="interview.status === 'unavailable'" ng-click="createInterview(interview)"><i class="fa fa-check-square-o fa-fw"></i> Marquer comme disponible</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <h3>Documents:</h3>
    <hr/>
    <!-- Documents -->
    <form name="documentsPartForm" class="form-block" novalidate>
        <p>Uploader des documents pour ce recruteur.</p>
        <div class="row">
            <div class="col-md-6">
                <div ngf-drop ng-model="form.documents" class="dropbox"
                     ngf-select="true" ngf-multiple="true" ngf-allow-dir="false">
                    <div class="help">
                        <span ng-if="!form.documentIsBeingSent">Glissez-déposez les documents ou<br> cliquez ici pour les sélectionner.</span>
                        <span ng-if="form.documentIsBeingSent">Envoi en cours...</span>
                    </div>
                </div>
                <div ngf-no-file-drop>Cette fonctionnalité n'est pas disponible sur votre navigateur</div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" ng-show="documents.length">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Documents</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="document in documents">
                            <td>{{ document.name | limitTo: 30 }}{{document.name.length > 30 ? '...' : ''}} </td>
                            <td class="pull-right">
                                <button type="button" class="btn btn-success" ng-click="downloadDocument(document)"><span class="glyphicon glyphicon-edit"></span> Telecharger</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteDocument(document)"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" style="margin-top: 42px;">
    <div class="col-md-12">
        <h3>Modifier</h3>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname"
                                   ng-model="recruiter.user.firstname" ng-model-options="{debounce: 550}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname"
                                   ng-model="recruiter.user.lastname" ng-model-options="{debounce: 550}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="company">Entreprise</label>
                            <select id="company" class="form-control"
                                    ng-model="recruiter.company" ng-options="company.name for company in companies track by company.ido">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input type="text" class="form-control" id="email"
                                   ng-model="recruiter.user.email" ng-model-options="{debounce: 550}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Téléphone</label>
                            <input type="text" class="form-control" id="email"
                                   ng-model="recruiter.user.phone" ng-model-options="{debounce: 550}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="firstname">Options</label>
                            <div class="checkbox">
                                <label for="checkbox-parking">
                                    <input type="checkbox" name="checkboxes" id="checkbox-parking"
                                           ng-model="recruiter.parking_option" ng-true-value="1" ng-false-value="0"> Parking
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="checkbox-lunch">
                                    <input type="checkbox" name="checkboxes" id="checkbox-lunch"
                                           ng-model="recruiter.lunch_option" ng-true-value="1" ng-false-value="0"> Repas
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="firstname">Notifications</label>
                            <div class="checkbox">
                                <label for="checkbox-email">
                                    <input type="checkbox" name="checkboxes" id="checkbox-email"
                                           ng-model="recruiter.user.email_notifications" ng-true-value="1" ng-false-value="0"> Email
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="checkbox-sms">
                                    <input type="checkbox" name="checkboxes" id="checkbox-sms"
                                           ng-model="recruiter.user.sms_notifications" ng-true-value="1" ng-false-value="0"> SMS
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-center" style="margin-top: 21px;">
                <button type="button" class="btn btn-success" ng-click="updateRecruiter()">Enregistrer</button>
            </p>
        </div>
    </div>
</div>