<h2>Recruteurs</h2>

<div class="row"
     st-table="recruitersDisplayedCollection" st-safe-src="recruitersCollection">

    <div class="searchBox">
        <input class="form-control" type="search" placeholder="Rechercher..." st-search>
    </div>

    <div class="col-md-3 text-right">
        <button class="btn btn-primary" ng-click="downloadRecruitersSchedules()">Télécharger les plannings</button>
    </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 30%">Identité</th>
                <th style="width: 20%">Entreprise</th>
                <th style="width: 20%">Disponibilité</th>
                <th style="width: 15%">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recruiter in recruitersDisplayedCollection | orderBy:['company.name','user.lastname']">
                <td><a ui-sref="app.admin.recruiters.details({id: recruiter.ido})">{{recruiter.user.firstname}} {{ recruiter.user.lastname }}</a></td>
                <td><a ui-sref="app.admin.companies.details({id: recruiter.company.ido})">{{recruiter.company.name}}</a></td>
                <td>
                    <span ng-if="recruiter.availability === 'ALL'"><span class="label label-success">MATIN</span> &nbsp; <span class="label label-success">APRES-MIDI</span></span>
                    <span ng-if="recruiter.availability === 'AM'"><span class="label label-success">MATIN</span> &nbsp; <span class="label label-default">APRES-MIDI</span></span>
                    <span ng-if="recruiter.availability === 'PM'"><span class="label label-default">MATIN</span> &nbsp; <span class="label label-success">APRES-MIDI</span></span>
                </td>
                <td>
                    <span class="label" ng-class="{'label-default': !recruiter.parking_option, 'label-success': recruiter.parking_option}">PARKING</span> &nbsp;
                    <span class="label" ng-class="{'label-default': !recruiter.lunch_option, 'label-success': recruiter.lunch_option}">REPAS</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>