<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-7" style="padding-top: 42px;">
                <p>
                    La journée de Job Forum est un évènement proposé par l'équipe SeekYourJob de la FGES.<br />
                    Ce site internet a été réalisé par les membres de cette même équipe.
                </p><br />
                <p>
                    <a class="footer-brand" href="http://seekyourjob.fges.info" target="_blank">
                        <img src="/images/logo-small.png" />
                    </a>
                </p>
            </div>

            <div class="col-xs-5">
                <div class="footer-banner">
                    <h3 class="footer-title">Liens</h3>
                    <ul>
                        <li>Faculté de Gestion, Economie et Sciences</li>
                        <li>Les Masters du Rizomm</li>
                        <li>Université Catholique de Lille</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>