<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Job Forum '16 de la filière info FGES</a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="authenticated"><a ui-sref="account">Connecté(e) en tant que {{ user.firstname }} {{ user.lastname }}</a></li>
                    <li ng-if="authenticated"><a ui-sref="logout">Se déconnecter</a></li>
                </ul>
                <button ng-if="user.organizer" type="button" class="btn btn-primary navbar-btn navbar-right" ui-sref="admin.home">Administration</button>
            </div>
        </div>
    </div>
</div>