<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Plan d'accès aux locaux de la FGES</h2>
        <hr>
        <p class=" text-center lead">
            Le Job Forum se tiendra dans les locaux des Masters du Rizomm de la FGES situés<br/>au <strong>41 rue du Port à Lille (4e étage)</strong>.
        </p>
        <div class="text-center" style="margin-left: auto; margin-right: auto;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.6939838428502!2d3.043018315653553!3d50.632801382089816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM3JzU4LjEiTiAzwrAwMic0Mi44IkU!5e0!3m2!1sfr!2sfr!4v1454537196861" width="800" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <h3>Accès</h3>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>PAR LE MÉTRO</strong> :<br />
                    Des gares Lille Flandres ou Lille Europe, prendre le métro ligne 2, direction Saint Philibert. Arrêt Cormontaigne, puis 10 min. de marche à pied en direction du boulevard Vauban.
                </p>

                <p>
                    <strong>PAR LA ROUTE</strong> :<br />
                    En provenance de l'autoroute de Paris (A1), Gand (A22), Bruxelles (A27) : périphérique direction Dunkerque par l'autoroute, sortie n°4.<br />
                    En provenance de l'autoroute de Dunkerque (A25), sortie n°5.
                </p>

                <p>
                    <strong>A VÉLO :</strong><br />
                    Vous trouverez 6 stations V’Lille à moins de 500 mètres du campus parmi les 110 stations de la Communauté Urbaine de Lille. Le campus est équipé de plus de 900 emplacements vélo pour attacher votre vélo personnel.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    <strong>PAR LE BUS :</strong><br/>
                    Le campus est desservi par 4 lignes de bus avec passages réguliers :<br />

                    Ligne 12, direction Haubourdin Le Parc (arrêt Université Catholique de Lille, boulevard Vauban)<br/>
                    Ligne 72 (arrêt Université Catholique de Lille, boulevard Vauban)<br/>
                    La Citadine (Rue du Port)<br/>
                    et la Liane 1 (Champs de Mars)<br/><br/>
                    Un distributeur automatique de titres Transpole est à votre disposition au centre du campus (Hall de l’Hôtel Académique).<br/>
                    Plus d’infos : <a href="http://www.transpole.fr">www.transpole.fr</a>.
                </p>
            </div>
        </div>
    </div>
</div>