<h2 class="text-center">
    <img src="https://www.gravatar.com/avatar/{{ user.email_md5 }}.jpg?s=168&d=mm" class="img-circle" width="84px" height="84px"> &nbsp;Compte de {{ user.firstname }} {{ user.lastname }}
</h2>

<div id="candidateInterviews">

    <div class="col-md-8">

        <h3>Planifier mes entretiens</h3><hr>

        <div class="showAllCompaniesWrapper">
            <div class="form-group">
                <div class="col-md-4 col-md-offset-8">
                    <div class="checkbox">
                        <label for="showAllCompanies">
                            <input type="checkbox" id="showAllCompanies" ng-model="showAllCompanies"> Déplier toutes les entreprises
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="company" ng-repeat="company in companies">
                <div class="panel panel-default">
                    <div ng-click="company.show = !company.show"
                         class="panel-heading"
                    >
                        <h3 class="panel-title pull-left">{{ company.company.name }}</h3>
                <span class="pull-right">
                    <span class="label" ng-class="{'label-success': company.summary.remaining_percentage > 50, 'label-warning': company.summary.remaining_percentage > 0 && company.summary.remaining_percentage <= 50, 'label-danger': company.summary.remaining_percentage == 0}">
                        DISPONIBILITÉ
                    </span>
                </span>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-show="company.show || showAllCompanies"
                         class="panel-body"
                    >
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng-repeat="slot in slots">{{ slot.begins_at_formatted }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="interview in company.interviews"
                                    ng-click="actOnInterview(company, interview)"
                                    ng-class="{
                            available: interview.free_slots > 0 && !interview.already_registered && !interview.interview,
                            unavailable: interview.free_slots == 0,
                            takenByMe: interview.interview,
                            alreadyRegistered: interview.already_registered,
                            waiting: interview.isWaiting}"
                                >
                                    <span ng-if="interview.already_registered">{{ interview.already_registered }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Mes informations</h3><hr>
    </div>


</div>

