<h2 class="text-center">
    <img src="https://www.gravatar.com/avatar/{{ user.email_md5 }}.jpg?s=168&d=mm" class="img-circle" width="84px" height="84px"> &nbsp;&nbsp;Compte de {{ user.firstname }} {{ user.lastname }}
</h2>

<div id="candidateInterviews">

    <div class="col-md-8 col-md-offset-2" style="margin-top: 21px; margin-bottom: 42px;">
        <h3><i class="fa fa-calendar-check-o fa-fw"></i> Mes entretiens</h3><hr>
    </div>

    <div class="col-md-8 col-md-offset-2" style="margin-top: 21px; margin-bottom: 42px;" ng-if="user.candidate.canRegisterToInterviews">
        <h3><i class="fa fa-calendar-plus-o fa-fw"></i> Planifier mes entretiens</h3><hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <div class="form-horizontal form-group" style="margin-bottom: 20px;">
                    <div class="checkbox">
                        <label for="showAllCompanies">
                            <input type="checkbox" id="showAllCompanies" ng-model="showAllCompanies"> Déplier toutes les entreprises
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="company" ng-repeat="company in companies">
                <div class="panel {{ company.hasInterviewWithCandidate ? 'panel-success' : 'panel-default' }}">
                    <div ng-click="displayCompanies[$index] = !displayCompanies[$index]"
                         analytics-on="click" analytics-event="Toggled" analytics-category="Interviews" analytics-label="{{ company.company.name }}"
                         class="panel-heading"
                    >
                        <h3 class="panel-title pull-left">{{ company.company.name }}</h3>
                <span class="pull-right">
                    <span class="label" ng-class="{'label-success': company.summary.remaining_percentage > 50, 'label-warning': company.summary.remaining_percentage > 0 && company.summary.remaining_percentage <= 50, 'label-danger': company.summary.remaining_percentage == 0}">
                        DISPONIBILITÉ
                    </span>
                </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body" ng-show="displayCompanies[$index] || showAllCompanies">
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng-repeat="slot in slots">{{ slot.begins_at_formatted }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-repeat="interview in company.interviews"
                                    ng-click="actOnInterview(company, interview)"
                                    ng-class="{
                                        available: interview.free_slots > 0 && !interview.already_registered && !interview.interview,
                                        unavailable: interview.free_slots == 0,
                                        takenByMe: interview.interview,
                                        alreadyRegistered: interview.already_registered,
                                        waiting: interview.isWaiting}"
                                >
                                    <span ng-if="interview.already_registered">{{ interview.already_registered }}</span>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="{{ slots.length / 2 }}">
                                    <small>
                                        <span ng-repeat="(jobType, activated) in company.company.job_types" ng-class="{'text-success': activated, 'text-danger': !activated}">
                                            <i class="fa fa-fw {{ activated ? 'fa-check' : 'fa-times' }}"></i> {{ jobType }} &nbsp;&nbsp;&nbsp;
                                        </span>
                                    </small>
                                </td>
                                <td colspan="{{ slots.length / 2 }}" class="text-right">
                                    <small>
                                        <a href="#">Télécharger le(s) offre(s) proposée(s) par {{ company.company.name }}</a>
                                    </small>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <h3><i class="fa fa-file-text-o fa-fw"></i> Mon CV</h3><hr>
        <!-- Documents -->
        <form name="documentsPartForm" class="form-block" novalidate>
            <p>
                <strong>Vous devez soumettre un CV valide avant de pouvoir vous inscrire à des entretiens.</strong><br>
                Vous serez prévenu par email dès qu'il sera validé et pourrez dès lors procéder aux inscriptions.
            </p><br />
            <div class="row">
                <div class="col-md-12">
                    <div ngf-drop ng-model="form.documents" class="dropbox"
                         ngf-select="true" ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document'" ng-if="!documents.length"
                    >
                        <div class="help">
                            <span ng-if="!form.documentIsBeingSent">Glissez-déposez votre CV ou<br> cliquez ici pour le sélectionner...</span>
                            <span ng-if="form.documentIsBeingSent">Envoi en cours...</span>
                        </div>
                    </div>
                    <div ngf-no-file-drop>Cette fonctionnalité n'est pas disponible sur votre navigateur</div>
                    <div class="panel panel-default" ng-if="documents.length">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Mon CV</th>
                                <th>Etat</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="document in documents">
                                <td style="vertical-align: middle;">{{ document.name | limitTo: 20 }}{{document.name.length > 20 ? '...' : ''}} </td>
                                <td style="vertical-align: middle;" ng-switch="document.status">
                                    <span ng-switch-when="ACCEPTED" class="label label-success">ACCEPTÉ</span>
                                    <span ng-switch-when="PENDING" class="label label-warning">EN ATTENTE DE VALIDATION</span>
                                    <span ng-switch-when="REJECTED" class="label label-alert">REFUSÉ</span>
                                </td>
                                <td style="vertical-align: middle;" class="text-right">
                                    <button type="button" class="btn btn-success" ng-click="downloadDocument(document)"><i class="fa fa-download fa-fw"></i></button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteDocument(document)"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

