<div id="reset-password-box">
    <h2>Réinitialiser mon mot de passe</h2>
    <div id="reset-password-form">
        <form novalidate>
            <div class="form-group">
                <label for="password">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="password" ng-model="passwordReset.password">
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirmation</label>
                <input type="password" class="form-control" id="password_confirmation" ng-model="passwordReset.confirmation">
            </div>
            <p class="text-center">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="doResetPassword()">Réinitialiser mon mot de passe</button>
            </p>
        </form>
    </div>
</div>