<h1 class="text-center">Job Forum '16 de la FGES</h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center" style="margin-top: 21px;">
            Cette année encore, l'équipe SeekYourJob de la FGES organise son Job Forum !
            Pendant une journée, les étudiants de la filière informatique participent à des entretiens avec de nombreuses entreprises réunies pour l'occasion.<br><br>
        </p>
        <h2 class="text-center">Choisir un profil :</h2>
    </div>
</div>

<div id="profiles">
    <div id="recruiter-profile" class="profile" ui-sref="app.registerRecruiter">
        <div class="icon"></div>
        <h2>Recruteur</h2>
        <p>
            S'inscrire en tant que recruteur pour<br><strong>faire passer et évaluer des entretiens</strong>.
        </p>
    </div>
    <div id="candidate-profile" class="profile" ui-sref="app.registerCandidate">
        <div class="icon"></div>
        <h2>Candidat</h2>
        <p>
            S'inscrire en tant que candidat pour<br><strong>passer des entretiens</strong>.
        </p>
    </div>
</div>