<p class="lead">
    Cette année encore, l'équipe SeekYourJob des Masters informatique de la FGES organise son Job Forum !<br>
    Tout au long d'une journée, les étudiants de la filière informatique sont invités à participer à des entretiens avec les nombreuses entreprises réunies pour l'occasion.<br><br>
    Que vous soyez recruteur ou candidat, inscrivez simplement et rapidement grâce à ce site !<br>
</p>

<div id="profiles">
    <div id="recruiter-profile" class="profile" ui-sref="app.registerRecruiter">
        <div class="icon"></div>
        <h2>Recruteur</h2>
        <p>
            Je souhaite m'inscrire en tant que <strong>recruteur</strong> afin de pouvoir faire passer et évaluer des entretiens.
        </p>
    </div>
    <div id="candidate-profile" class="profile" ui-sref="app.registerCandidate">
        <div class="icon"></div>
        <h2>Candidat</h2>
        <p>
            Je souhaite m'inscrire en tant que <strong>candidat</strong> afin de pouvoir passer des entretiens.
        </p>
    </div>
</div>

<p id="returning-visitor">
    <a ui-sref="app.login"><i class="fa fa-sign-in fa-fw"></i> Je suis déjà inscrit et souhaite accéder à mon compte.</a>
</p>