<div id="login-box">
    <h2>Se connecter</h2>
    <div id="login-icon">
        <img src="images/login.png">
    </div>
    <div id="login-form">
        <form novalidate>
            <div class="form-group">
                <label for="email">Adresse email</label>
                <input type="email" class="form-control" id="email" ng-model="credentials.email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" ng-model="credentials.password">
            </div>

            <p><a ui-sref="resetPassword"><small>Mot de passe oublié ?</small></a></p>

            <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Se connecter</button>
            <p class="text-danger pull-right" style="margin-top: 40px;" ng-if="badCredentials"><strong>Identifiants non reconnus.</strong></p>
        </form>
    </div>
</div>