<div id="register-user" class="register-page">

    <div class="register-form">

        <div class="register-title" style="margin-bottom: 42px;">
            <h2>S'inscrire en tant que candidat</h2><br />
            <p>
                Afin de procéder à votre inscription, <strong>merci de compléter tous les champs</strong>.<br />
            </p>
            <p>
                <small>Astuce : dès qu'une étape est validée sa couleur passe du <span class="customLabel blue">BLEUE</span> au <span class="customLabel green">VERT</span> !</small>
            </p>
        </div>

        <!-- Identifiants -->
        <form name="credentialPartForm" class="form-block" novalidate
              ng-class="{'valid': !form.emailAlreadyExists && credentialPartForm.$valid}">
            <h4>Identifiants</h4>
            <p>Ces identifiants sont importants, ils vous permettront <strong>d'accéder à la platefome, et de visualiser les différentes offres proposées par les entreprises présentes le jour J.</strong>.</p>
            <div class="row" style="margin-top: 15px;">
                <div class="form-group col-md-6" ng-class="{'has-error': form.emailAlreadyExists}">
                    <label for="email">Adresse email<span class="required">*</span></label>
                    <input type="email" class="form-control input-lg" id="email" name="email"
                           ng-model="newCandidate.user.email" ng-change="checkDuplicateEmail()" ng-model-options="{debounce: 500}" ng-required="true">
                    <span class="help-block" ng-if="form.emailAlreadyExists"><strong>Cette adresse email est déjà utilisée !</strong></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Mot de passe<span class="required">*</span></label>
                    <input type="password" class="form-control input-lg" id="password" name="password"
                           ng-model="newCandidate.user.password" ng-required="true" ng-minlength="6">
                    <span class="help-block">On demande juste 6 caractères au moins :)</span>
                </div>
            </div>
        </form>

        <!-- Coordonnées -->
        <form name="contactInfoPartForm" class="form-block" novalidate
              ng-class="{'valid': contactInfoPartForm.$valid}">
            <h4>Coordonnées</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstname">Prénom<span class="required">*</span></label>
                    <input type="text" class="form-control" id="firstname" name="firstname"
                           ng-model="newCandidate.user.firstname" ng-required="true">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Nom<span class="required">*</span></label>
                    <input type="text" class="form-control" id="lastname" name="lastname"
                           ng-model="newCandidate.user.lastname" ng-required="true">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Téléphone portable<span class="required">*</span></label>
                    <input type="text" class="form-control" id="phone" name="phone"
                           ng-model="newCandidate.user.phone" ng-required="true" ng-pattern="/^[0-9 ]+$/" ng-minlength="10">
                </div>
                <div class="form-group col-md-4">
                    <label for="grade">Promotion<span class="required">*</span></label>
                    <select id="grade" class="form-control">
                        <option data-ng-model="newCandidate.candidate.grade" ng-repeat="grade in grades" value="{{grade}}">{{grade}}</option>
                    </select>
                </div>
            </div>
        </form>

        <!-- Documents -->
        <form name="documentsPartForm" class="form-block" novalidate
              ng-class="{'valid': documentsPartForm.$valid}">
            <h4>Curriculum</h4>
            <p class="text-center" style="margin-top: 20px;">
                <strong>Un CV est nécessaire pour vous inscrire à des entretiens.</strong><br />
                Il sera <strong>validé par l'équipe</strong> puis <strong>transmis aux recruteurs</strong>.<br />
            </p>
            <p class="text-center">
                Vous pouvez l'envoyer dès maintenant ou plus tard depuis votre compte.
            </p>
            <p class="text-center">
                <em>Nous vous invitons à vous munir de quelques copies le Jour-J, elles pourront toujours servir ;)</em>
            </p>
            <div class="row">
                <div ngf-drop ng-model="form.documents" class="dropbox"
                     ngf-select="true" ngf-multiple="false" ngf-allow-dir="false" ng-if="!newCandidate.candidate.documents.length">
                    <div class="help">
                        <span ng-if="!form.documentIsBeingSent">Glissez-déposez votre CV ou<br> cliquez ici pour le sélectionner.</span>
                        <span ng-if="form.documentIsBeingSent">Envoi en cours...</span>
                    </div>
                </div>
                <div ngf-no-file-drop>Cette fonctionnalité n'est pas disponible sur votre navigateur</div>
                <div id="documentsSent" ng-if="newCandidate.candidate.documents.length">
                    <p><strong>Curriculum envoyé :</strong></p>
                    <ul>
                        <li ng-repeat="document in newCandidate.candidate.documents">
                            {{ document.name }}  - <i class="fa fa-trash-o fa-fw text-danger" title="Supprimer ce curriculum" ng-click="deleteDocument(document)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

        <p class="register-submit">
            <button type="button" class="btn btn-lg btn-success" style="transition:all 0.3s linear;"
                    ng-click="register()" ng-disabled="!formsAreValid() || form.isBeingSubmitted || form.isSubmitted">
                <span ng-if="!form.isBeingSubmitted && !form.isSubmitted">Je m'inscris <i class="fa fa-chevron-right fa-fw"></i></span>
                <span ng-if="form.isBeingSubmitted && !form.isSubmitted"><i class="fa fa-cog fa-spin fa-fw"></i></span>
                <span ng-if="form.isSubmitted"><i class="fa fa-check fa-2x"></i></span>
            </button>
        </p>
        <p class="text-center text-danger" ng-if="!formsAreValid()"><small>Certains champs ne sont pas valides !</small></p>

    </div>
</div>